*{
    margin: 0;
    padding: 0%;
}
body{
    background: url(../images/garoto.gif) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    align-items: center;
    display: grid;
    justify-items: center;
}
.container{
    position: relative;
    background-color: rgba(255, 255, 255, 0.637);
    width: 500px;
    border: 1px solid black;
    border-radius: 15px;
    margin: auto;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    
}

#urso{
    border: 2px solid #19cbf385;
    border-radius: 5px;
}

#musica{
    margin: auto;
    padding: 3px;
    width: 70%;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid #19cbf385;
    font-size: 20px;
    font-weight: 900;
    border-radius: 12px;
    background-color: #19cbf385;
}

#barra{
    margin-top: 6px;
    width: 90%;
    
}

#tempo{
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

#controles img{
    width: 25px;
    padding: 0 10px ;
    cursor: pointer;
}

@media (max-width: 500px){
    body{
        background: url(../images/citygif.gif) no-repeat top center;
        background-attachment: fixed;
            
        display: block;
        
    }
    .container{
        background-color: rgba(255, 255, 255, 0.637);
        width: 400px;
                
    }
    #urso{
        width: 90%;
        margin-bottom: 9px;
        border-radius: 12px;
        border: 1px solid rgba(236, 142, 158, 0.507);
    }

    #musica{
        
        width: 90%;
        height: 40px;
        padding: 5px;
        box-sizing: border-box;
        font-weight: 900;
        background-color: rgba(236, 142, 158, 0.507);
        margin-bottom: 10px;
        border: 1px solid rgba(236, 142, 158, 0.507);
        border-radius: 12px;

    }  

    #barra{
        margin-top: 0px;
        
        
    }  
    #tempo{
        margin: 0px auto 10px auto;
    }
    #controles img{
        width: 30px;
        padding: 0 10px ;
        cursor: pointer;
    }
        
}
@media (max-width: 400px){
    body{
        background: url(../images/citygif.gif) no-repeat top center;
        background-attachment: fixed;
        background-size: 100vh;        
        display: block;
        
    }
    .container{
        background-color: rgba(255, 255, 255, 0.637);
        width: 370px;
                
    }
    #urso{
        width: 90%;
        margin-bottom: 9px;
        border-radius: 12px;
    }

    #musica{
        
        width: 90%;
        height: 40px;
        padding: 5px;
        box-sizing: border-box;
        font-weight: 900;
        background-color: rgba(236, 142, 158, 0.507);
        margin-bottom: 10px;
        border: 1px solid rgba(236, 142, 158, 0.507);
        border-radius: 12px;

    }  

    #barra{
        margin-top: 0px;
        
        
    }  
    #tempo{
        margin: 0px auto 10px auto;
    }
        
}
@media (max-width: 376px){
    body{
        background: url(../images/citygif.gif) no-repeat top center;
        background-attachment: fixed;
        background-size: 100vh;        
        display: block;
        
    }
    .container{
        background-color: rgba(255, 255, 255, 0.637);
        width: 350px;
                
    }
    #urso{
        width: 90%;
        margin-bottom: 9px;
        border-radius: 12px;
    }

    #musica{
        
        width: 90%;
        height: 40px;
        padding: 5px;
        box-sizing: border-box;
        font-weight: 900;
        background-color: rgba(236, 142, 158, 0.507);
        margin-bottom: 10px;
        border: 1px solid rgba(236, 142, 158, 0.507);
        border-radius: 12px;

    }  

    #barra{
        margin-top: 0px;
        
        
    }  
    #tempo{
        margin: 0px auto 10px auto;
    }
        
}
@media (max-width: 300px){
    .container{
        background-color: rgba(255, 255, 255, 0.637);
        width: 250px;                
    }
    #controles img{
        width: 20px;
        padding: 0 5px ;
        cursor: pointer;
    }    
}

